body {
      font-family: Arial, sans-serif;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .box {
      background: white;
      padding: 20px;
      width: 400px;
      border-radius: 10px;
      box-shadow: 0 0 10px #aaa;
    }

    input, button {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-size: 16px;
    }

    #resultado {
      margin-top: 20px;
      word-wrap: break-word;
      font-weight: bold;
      color: #333;
    }